mixin nav(className, items, activeItem)
	nav(class=`${className}`)
		ul(class=`${className}__list`)
			each item, ndx in items
				li(class=`${className}__item` + ( (ndx === activeItem ) ? ` ${className}__item_active` : '' ) )
					a(class=`${className}__link` href='#')= item

mixin block-text(title, paragraphs)
	.block-text.section__block
		.block-text__title!= title
		.block-text__content
			each paragraph, ndx in paragraphs
				p.block-text__content___p!= paragraph

mixin figures-item(title, paragraph)
	.block-figures__item
		.block-figures__item__title= title
		.block-figures__item__paragraph= paragraph

mixin adv-item( iconName, paragraph)
	.block-adv__item
		.block-adv__item__icon
			img.block-adv__item__img(src=`/assets/img/${iconName}`)
		.block-adv__item__paragraph= paragraph

mixin block-columns__item(imgName)
	.block-columns__item
		a.block-columns__link(href=`/assets/img/${imgName}`)
			img.block-columns__img.pop-up__img(src=`/assets/img/${imgName}`)

mixin block-halls__plan(imgNames)
	.block-halls__plan.clearfix
		each imgName, ndx in imgNames
			.block-halls__plan___img_wrap
				img.block-halls__plan___img(src=`/assets/img/${imgName}`)
