mixin nav(className, items, hrefs)
	nav(class='nav ' + `${className}`)
		ul(class=`${className}__list`)
			each item, ndx in items
				li(class=`${className}__item`)
					a(class=`${className}__link` href=`${hrefs[ndx]}`)= item

mixin socials(className,socials, hrefs)
	ul(class='socials ' + `socials_${className}`)
		each social, ndx in socials
			li(class='socials__item ' + `c-socials__item_${className}`)
				a(class='socials__link ' + `socials__link_${social}` href=`${hrefs[ndx]}`, target='_blank')
					svg(class='socials__pic ' + `socials__pic_${className}`)
						use(xlink:href=`./assets/images/sprite.svg#${social}`)

mixin hero__bg(svgName)
	div(class='hero__bg ' + `hero__bg_${svgName}`)

