
-
   var skills={
   Frontend:[['HTML5', '.85'], ['CSS3', '.85'],['JavaScript & jQuery', '.3']],
   Backend:[['PHP', '.2'], ['mySQL', '.3', '.6'],['Node.js & npm', '.3'], ['Mongo.db', '.2', '.6']],
   Workflow:[['Git', '.5'],['Gulp', '.5'],['Bower', '.6']]
   }
.skills
   .block-title Чем я могу быть	вам полезна
   .skills__text
      p Больше всего меня привлекет Frontend разработка, но я также знакома и могу решать не сложные задачи на Backend. Но давайте по порядку.
   each skillGroup, key in skills
      .skills-group__title= key
      ul.skills-list
         each value in skillGroup
            - var strokeLength = 80 * 3.14 * `${value[1]}`
            li.skills-list__item
               svg.skills__circle
                  circle(cx="50" cy="50" r="40").skills__circle-under
                  circle(cx="50" cy="50" r="40" transform="rotate(-90 50 50)" opacity=`${value[2]}` stroke-dasharray= `${strokeLength} 251.2`).skills__circle-above
               .skills__title= value[0]
